:root {
    --bleu-violet: #4357AD;
    --off-white: #F9F5F0;
    --verdigris: #48A9A6;
    --jaune: #FAB561;
    --rouge-indien: #C1666B;
    --gris: #E3DFDD;
  }

* {
    font-family: "Andale Mono", monospace
}

body {
    background-color: var(--off-white);
    margin: 0 0 1em 0
}

#contents{
    margin: 0 2em;
}

/* En-tête */

header {
    position: sticky;
    top: 0;
}

#project_title{
    font-size: 130%;
    font-weight: bolder;
}

#header_top {
    background-color: var(--rouge-indien);
    padding: 1em 1rem;
    height: auto;
    transition: 0.5s ease;
}

#header_top #project_title, #header_top div p{
    text-align: center;
    color: var(--off-white);
    transition: 0.5s ease;
}

#project_info {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    opacity: 1;
    max-height: 1000px;
}

#header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--gris)
}

#header_nav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

#header_nav a#todo-onglet{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--bleu-violet);
}

#idees_verbalisation{
  line-height: 1.5;
}
table{
      margin-left: auto;
  margin-right: auto;
}

table, th, td{
    margin-top: 5%;
    border: 1px solid;
    border-collapse: collapse;
}

td{
    padding: 5%
}

.partie{display: block;}

.hidden, .partie.hidden {
    display: none;
}

#lang_choice_abstract h3{
    padding: 0.75em;
}

#lang_choice_abstract h3#fr.active, #lang_choice_abstract h3#eng.active {
    border: var(--verdigris) solid 2px;
}

#header_nav .active{
    color: #4357AD;
}

#lang_choice_abstract {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}